!!!
%html
  %head
    %title [TODO]
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
    -# IE死ね
    <!--[if IE]>
    %link{:href => "/ie.css", :rel => "stylesheet", :type => "text/css"}
    <![endif]-->
    %meta{:name => "author", :content => "[TODO]"}
    %meta{:name => "application-name", :content => "[TODO]"}
  
  %body.bp
    %header
      %h1
        %a{:href => "/" }
          [TODO]
    
    %footer
      %address
        Created by
        %a.author{:href => "[TODO]"} [TODO]
        \.
